@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body{
  margin: 0;
  padding: 0;
}

.header {
  position: sticky;
  top: 0;
  background-color: #3e3a3c;
  background-image: url("../../assets/images/header.jpg"); 
  background-position: 0% 38%;
  background-size: cover;
  width: 100%;
  z-index: 1;

  h1 {
    position: absolute;
    font-family: 'Lora', serif;
    font-size: 64px;
    color: #f1f1f1;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    margin-top: 25px;

    a {
      text-decoration: none;
      color: #f1f1f1;
    }

    a:visited {
      color: #f1f1f1;
    }
  }

  #bigger {
    font-family: 'Great Vibes', cursive;
    text-shadow: 1px 1px #f1f1f1, -1px -1px #f1f1f1;
    font-size: 86px;
    padding-right: 5px;
  }

  .trapezoid {
    position: relative;
    border-bottom: 150px solid #3e3a3c;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 350px;
    margin: 0 auto;
    opacity: .975;
  }

  nav {
    margin-top: 0;
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 5px solid #3e3a3c;
    opacity: .975;

    .dropbtn {
      background-color: transparent;
      background-image: repeating-linear-gradient(transparent 0 20px, #3e3a3c 20px 40px);
      font-family: 'Playfair Display', sans-serif;
      font-weight: bold;
      color: #f1f1f1;
      padding: 16px;
      font-size: 20px;
      width: 275px;
      border-top: 5px solid #3e3a3c;
      border-left: none;
      border-right: none;
      border-bottom: none;
    }

    #firstBtn {
      border-left: 2px solid #3e3a3c;
    }

    #lastBtn {
      border-right: 2px solid #3e3a3c;
    }

    #lastDropdown {
      width: 271px;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdownContent {
      display: none;
      position: absolute;
      z-index: 1;
      width: 275px;
      border-top: 5px solid #3e3a3c;
      border-left: 2px solid #3e3a3c;
      border-right: 2px solid #3e3a3c;
      border-bottom: 5px solid #3e3a3c;
    }

    #green {
      background-color: #b0cabf;
      background-image: linear-gradient(#b0cabf, #f1f1f1);
    }

    #purple, #lastDropdown {
      background-color: #9e8993;
      background-image: linear-gradient(#9e8993, #f1f1f1);
    }
    
    .dropdownContent a {
      color: #412f39;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdownContent a:hover {
      background-color: #3e3a3c;
      color: #f1f1f1;
      transition: .25s;
    }

    .dropdown:hover .dropdownContent {
      display: block;
    }
  }
}