@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body{
  margin: 0;
  padding: 0;
}

.header {
  position: sticky;
  top: 0;
  background-color: #3e3a3c;
  z-index: 1;

  .title {
    display: inline-block;
    font-family: 'Lora', serif;
    font-size: 64px;
    color: #f1f1f1;
    padding-left: 20px;

    a {
      text-decoration: none;
      color: #f1f1f1;
    }

    a:visited {
      color: #f1f1f1;
    }
  }

  img {
    width: 90px;
    vertical-align: bottom;
  }

  .headerNav {
    float: right;
  }

  nav {
    margin-top: 0;
    font-family: 'Playfair Display', sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 5px solid #3e3a3c;
    opacity: .975;

    .dropbtn {
      background-color: transparent;
      background-image: repeating-linear-gradient(transparent 0 20px, #3e3a3c 20px 40px);
      font-family: 'Playfair Display', sans-serif;
      font-weight: bold;
      color: #f1f1f1;
      padding-top: 25px;
      padding-bottom: 37px;
      font-size: 25px;
      width: 300px;
      border: none;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
      text-align: center;
    }
    
    .dropdownContent {
      display: none;
      position: absolute;
      z-index: 1;
      width: 300px;
    }

    #green {
      background-color: #97D9E1;
      background-image: linear-gradient(#97D9E1, #f1f1f1);
    }

    #purple, #lastDropdown {
      background-color: #9e8993;
      background-image: linear-gradient(#9e8993, #f1f1f1);
    }
    
    .dropdownContent a {
      color: #412f39;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdownContent a:hover {
      background-color: #3e3a3c;
      color: #f1f1f1;
      transition: .25s;
    }

    .dropdown:hover .dropdownContent {
      display: block;
    }
  }
}