@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body{
  margin: 0;
  padding: 0;
}

.header {
  position: sticky;
  top: 0;
  margin-top: -45px;
  background-color: #3e3a3c;
  background-image: url("../../assets/images/header.jpg"); 
  background-position: 0% 86%;
  background-size: cover;
  width: 100%;
  z-index: 1;

  h1 {
    font-family: 'Lora', serif;
    font-size: 64px;
    color: #f1f1f1;
    text-align: center;
    text-shadow: 1px 1px #442235;
    padding-top: 10px;
  }

  .bigger {
    font-family: 'Great Vibes', cursive;
    font-size: 86px;
    padding-right: 5px;
  }

  nav {
    margin-top: 0;
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-weight: bold;
    font-size: 16px;

    .dropbtn {
      background-color: #fff;
      font-family: 'Playfair Display', sans-serif;
      font-weight: bold;
      color: #412f39;
      padding: 16px;
      font-size: 20px;
      width: 200px;
      border: none;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdownContent {
      display: none;
      position: absolute;
      background-color: #3e3a3c;
      z-index: 1;
      width: 200px;
    }
    
    .dropdownContent a {
      color: #fff;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdownContent a:hover {
      background-color: #fff;
      color: #3e3a3c;
    }

    .dropdown:hover .dropdownContent {
      display: block;
    }

    .dropdown:hover .dropbtn {
      background-color: #fff;
    }
  }
}