@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Lora:ital,wght@1,600&family=Playfair+Display&family=Ubuntu:wght@300&display=swap');


.Massage {
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    

    .heroImage{
      width:100%;
      position: relative;
      object-fit: cover;
      height: 500px;
    }
  
    .centered {
      font-family: 'Ubuntu', sans-serif;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 80px;
      font-weight: bolder;
      color:#000;
      text-shadow: 2px 2px #fff;
      background-color: transparent;
    }
    
    h3 {
        
        font-family: 'Lora', serif;
        font-size: 50px;
        text-align: center;
        margin: 20;
        
      }

      div {
        text-align: center;
        
        }  

      p {
        font-family: 'Lora', serif;
        text-align:center; 
        letter-spacing: 1px;
        line-height: 35px;
        margin: 0;
        margin-top: 30px;
        font-size: 30px;
      }

      button{
        color: blueviolet;
        border: none;
        // border-color: #97D9E1;
        padding: 20px;
        font-family: 'Lora', san-serif;
        font-size: medium;
        text-align: center;
        margin-top: 20px;
       
      }
      
      button:hover{
        background-color: #D9AFD9;
      
      }

    }
    
   
