@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Lora:ital,wght@1,600&family=Playfair+Display&family=Ubuntu:wght@300&display=swap');


.aboutUs {
background-color: #D9AFD9;
background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

.heroImage{
  width:100%;
  position: relative;
  object-fit: cover;
  height: 500px;
}

.centered {
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  font-weight: bolder;
  color:#000;
  text-shadow: 2px 2px #fff;
  background-color: transparent;
}

h2 {	
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 5vw;
    text-align: center;
    line-height: 1;
    margin: 0;
    margin-bottom: 20px;
}

h3 {
    
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);;
    text-align: center;
    margin: 0;
    
  }

  p {
    font-family: 'Lora', serif;
    text-align:start;
    letter-spacing: 1px;
    line-height: 35px;
    margin: 0;
    margin-bottom: 70px;
  }

  a:visited {
    text-decoration:none;
    color: #444;
    text-align: center;
    align-content:space-between;
  }
  
  a:active {
    text-decoration:none;
    
  }
  
  .bios{
    text-align: center;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 40px;

    -webkit-column-count: 6;
    -webkit-column-gap: 10px;
     font-size: auto;

     @media(max-width: 710px){
       display: flex;
       flex-direction: column;
     }

     img {
      margin: 80px 0 40px 0;
      max-width: fit-content;
      margin: auto;
      object-fit: cover;
      margin-top: 30px;
  }
}
}


