
.ailmentsBody{
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  background-color: #8ab1a0;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  height:1400px;
  
  
  .heroImage{
    width:100%;
    position: relative;
    object-fit: cover;
    height: 500px;
  }

  .centered {
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-weight: bolder;
    color:#000;
    text-shadow: 2px 2px #fff;
    background-color: transparent;
  }
  
  
  .ailmentText {
    display:grid;
    // grid-template-columns: 1fr,1fr,1fr,1fr;
    grid-template-columns:auto auto auto auto;
    text-align: center;
    margin:10px;
    // overflow-y: auto;
    grid-gap:10px;
  }
  
  .ailment_block {
    border: black solid;
    background-color: #f1f1f1;

  }
  
  .dropdownButton {
    background-color: #6fb1b9;
    color: #000;
    padding: 16px;
    font-size: 20px;
    border: none;
    margin-bottom:10px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .individualTreatment {
    display: none;
    position: absolute;
    background-color: #F1F1F1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border:black solid;
    text-decoration: none;
  }
  
  .treatmentLink {
    text-decoration: none;
    color:black;
    font-weight:bold;
  }
  
  .ailment_name {
    font-family: 'Cormorant SC', serif;
    text-decoration: none;
    font-size: 30px;
    color:black;
  }
  
  
  .individualTreatment a:hover {background-color: #6fb1b9;}
  .dropdown:hover .individualTreatment {display: block;}
  
li{
  list-style-type: none;
}
  .header_selfcare {
    display:flex;
    justify-content: center;
  }

  .selfcareTitle{
    display:flex;
    justify-content: center;
    font-family: 'Cormorant SC', serif;
    text-decoration: none;
    font-size: 30px;
    color:black;
  }

  .selfcareList{
    text-align: center;
    background-color: #f1f1f1;
    width:90%;
    margin:auto;
    padding:20px;
    border:black solid 3px;
    font-weight: bolder;
  }


  
}

