.quiz {
  .questionCount, h3 {
    text-align: center;
  }

  li {
    list-style-type: none;
  }

  input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
  }
}

.result {
  .diagnosis {
    font-size: 30px;
    text-align: center;
  }
}