.quiz {
  .questionCount, h3 {
    text-align: center;
  }

  li {
    list-style-type: none;
  }

  input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
  }
}

.result {
  width: 70%;
  margin: 0 auto;
  overflow-y: auto;
  height: 50vh;
  padding-bottom: 20px;

  .diagnosis {
    font-size: 30px;
    text-align: center;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
  }
}