.ailment{
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    background-color: #8ab1a0;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    height:1900px;

.ailmentTitle {
    display:flex;
    justify-content: center;
    padding-bottom:40px;
    margin-top: 0px;
}

.descriptionTitle{
    display: flex;
    justify-content: center;
}

.image {
    display:flex;
    justify-content: center;
}

.ailmentImage{
    max-width: 200px;
    display:flex;
    justify-content: center;
    padding:40px;
}

h1{
  padding-top: 20px;
    font-family: 'Cormorant SC', serif;
    font-size: 60px;
    color: #442235;
}

p {
    font-size: 20px;
  }

.information {
  width: 80%;
  margin: 0 auto;
}

.longDescription{
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;
    background-color: #f1f1f1;
    border: solid black;
}

h2{
    font-size: 30px;
    text-decoration: underline;
}

.treatments{
    text-align:center;
    // padding-top: 1px;
    // padding-bottom:20px;
    background-color: #f1f1f1;
}

.ailmentImage1{
    max-width: 200px;
    display:flex;
    justify-content: center;
    padding:40px;
}

.ailmentImage2{
    max-width: 200px;
    display:flex;
    justify-content: center;
    padding:40px;
}

.ailmentImage3{
    max-width: 200px;
    display:flex;
    justify-content: center;
    padding:40px;
}

.treatmentLink {
    font-size: 18px;
    text-decoration: none;
    color:black;
    font-weight:bold;
  }

.productAilnment{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    // border: 1px solid green;
    a:link{text-decoration: none;}
    a:hover {background-color: #6fb1b9;;}
    p{
        // border:  1px solid red;
        text-decoration: none;
        color:black;
        font-weight:bold;
    }
}

.individualTreatment a:hover {background-color: #6fb1b9;}
}





