.quiz {
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  margin: 0 auto;
  
  .heroImage{
    width:100%;
    position: relative;
    object-fit: cover;
    height: 500px;
  }

  .centered {
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-weight: bolder;
    color:#000;
    text-shadow: 2px 2px #fff;
    background-color: transparent;
  }

  .quizText {
    margin: 0 auto;
    width: 30%;
  }
}