.quizContainer {
  background-color: #442235;
  background: radial-gradient(ellipse at bottom, #442235, transparent),
              radial-gradient(ellipse at top, #8ab1a0, transparent);
  margin-top: -30px;
  margin-bottom: -13px;
  padding: 0;
}

.quiz {
  font-family: 'Ubuntu', sans-serif;
  max-width: 40%;
  margin: 0 auto;
  padding: 10px;
  background-color: #fff;
  opacity: .9;
  border-right: 1px dashed #442235;
  border-left: 1px dashed #442235;
  outline: 1px solid #442235;
  
  h2 {
    font-family: 'Cormorant SC', serif;
    font-size: 36px;
    color: #442235;
    text-align: center;
    text-shadow: 1px 1px #aaa;
  }

  img {
    max-width: 300px;
    border: 1px dashed #442235;
    outline: 1px solid #442235;
  }

  .centerImg {
    text-align: center;
  }

  p, label, button {
    font-size: 20px;
  }

  button {
    font-family: 'Ubuntu', sans-serif;
    border: 1px dashed #442235;
    background-color: transparent;
    font-weight: bold;
  }

  button:hover {
    border: 1px dashed #fff;
    background-color: #442235;
    color: #fff;
    transition: .25s;
    cursor: pointer;
  }

  .submit {
    text-align: center;
  }

  hr {
    border: 1px dashed #442235;
  }

  .results {
    width: 80%;
    margin: 0 auto;
  }
}