@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Lora:ital,wght@1,600&family=Playfair+Display&family=Ubuntu:wght@300&display=swap');

.homeScreen {
  font-family: 'Ubuntu', sans-serif;
  width: 80%;
  margin: 0 auto;

  h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    color: #442235;
    text-align: center;
    text-shadow: 1px 1px #aaa;
  }

  p {
    font-size: 20px;
  }

  .disclaimer {
    text-align: center;
  }

  .warning {
    font-weight: bold;
  }

  details {
    font-size: 16px;
  }

  img {
    width: 300px;
    height: 200px;
    filter: grayscale(100%);
  }

  table {
    max-width: 90%;
    margin: 0 auto;
    padding: 0px;
  }

  .imgLeft {
    td+td {
      vertical-align: top;
    }

    background-color: #8ab1a0;
  }

  .imgRight {
    td:first-child {
      vertical-align: top;
    }

    img {
      float: right;
    }
    background-color: #b0cabf;
  }

  button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #000;
    background-color: #d7e4df;
    padding: 5px;
  }
}