.footer {
  text-align: center;
  margin-top: 10px;
  background-color: #3e3a3c;
  font-family: 'Playfair Display', sans-serif;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;

  .small {
    background-color: transparent;
    color: #f1f1f1;
    display: inline-block;
    font-size: 18px;
  }

  button {
    border: none;
    background-color: #3e3a3c;
    color: #f1f1f1;
    font-family: 'Playfair Display', sans-serif;
    font-size: 14px;
    margin-bottom: 3px;
  }

  button:hover {
    cursor: pointer;
    background-color: #f1f1f1;
    color: #3e3a3c;
    transition: .25s;
  }

  .copyright {
    background-color: #3e3a3c;
    padding-bottom: 1px;
  }
}

.modal {
  position: fixed;
  transform: translate(-50%, -50%);
  padding: 10px;
  top: 50%;
  left: 50%;
  overflow: auto;
  border-top: 5px solid #3e3a3c;
  border-bottom: 5px solid #3e3a3c;
  border-left: 2px solid #3e3a3c;
  border-right: 2px solid #3e3a3c;
  background-color: #f1f1f1;
  background-image: linear-gradient(#9e8993, #b0cabf); 
  text-align: center;

  h3 {
    font-family: 'Cormorant SC', serif;
    background-color: #3e3a3c;
    color: #f1f1f1;
    margin-left: -10px;
    margin-right: -10px;
  }

  p {
    font-family: 'Ubuntu', sans-serif;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}

.close {
  text-align: center;

  button {
    border: none;
    font-weight: 100;
    font-size: 20px;
    color: #3e3a3c;
    background: transparent;
  }
}