.footer {
  text-align: center;
  margin-top: 10px;
  background-color: #aaa;
  background-image: url("../../assets/images/header.jpg"); 
  border-top: 5px solid #3e3a3c;
  font-family: 'Playfair Display', sans-serif;
  position: sticky;
  bottom: 0;
  z-index: 1;

  .small {
    border-left: 2px solid #3e3a3c;
    border-right: 2px solid #3e3a3c;
    background-color: transparent;
    color: #f1f1f1;
    display: inline-block;
    font-size: 18px;
  }

  button {
    border: none;
    background-color: #3e3a3c;
    color: #f1f1f1;
    font-family: 'Playfair Display', sans-serif;
    font-size: 14px;
    margin-bottom: 3px;
  }

  button:hover {
    cursor: pointer;
    background-color: #f1f1f1;
    color: #3e3a3c;
    transition: .25s;
  }

  .copyright {
    background-color: #3e3a3c;
    padding-bottom: 1px;
  }
}