@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Lora:ital,wght@1,600&family=Playfair+Display&family=Ubuntu:wght@300&display=swap');


.contactPage {
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  font-family: 'Ubuntu', sans-serif;

    .heroImage{
      width:100%;
      position: relative;
      object-fit: cover;
      height: 500px;
    }
  
    .centered {
      font-family: 'Ubuntu', sans-serif;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 80px;
      font-weight: bolder;
      color:#000;
      text-shadow: 2px 2px #fff;
      background-color: transparent;
    }

    p {
      text-align: center;
      font-size: 20px;
    }

    .contact {
      text-align: center;

      input {
        width: 717px;
        margin-bottom: 10px;
        border: black solid;
      }
      textarea {
        border: black solid;
      }
    }
}
  .send {
    background-color: #6fb1b9;
    color: #000;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer; 
    width: 125px;
    margin: 15px;
  }
.send:hover{
  background-color: #f1f1f1;
  
}

  


