@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Lora:ital,wght@1,600&family=Playfair+Display&family=Ubuntu:wght@300&display=swap');


.contactPage {
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // font-family: 'Ubuntu', sans-serif;
    // width: 70%;
    // padding: 5px;
    // margin: 10px auto;
    // font-family: 'Lora', serif; 
    // font-size: 6px;
    // background-color: #8ab1a0;

    .heroImage{
      width:100%;
      position: relative;
      object-fit: cover;
      height: 500px;
    }
  
    .centered {
      font-family: 'Ubuntu', sans-serif;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 80px;
      font-weight: bolder;
      color:#000;
      text-shadow: 2px 2px #fff;
      background-color: transparent;
    }

h2 {	
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  text-align: left;
  
}


 input,
    textarea{
    width: 80%;
    padding: 7px;
    outline: 1px;
    border-style: double;
    margin: 3px 1px;
    border-radius: 4px;
    box-shadow: #090e3f;
    
  }
}
  .send {
   width: 80px;
   font-size: 20px;
   padding: 5px;
   cursor: pointer; 
   background-color: rgb(127, 219, 104);
   border-radius: 5px;
  }
.send:hover{
  background-color: #a7e7d7;
  
}

  


